########################### Created by .ignore support plugin (hsz.mobi)
###### Java template
*.class

# Package Files #
*.jar
*.zip

#### IntelliJ
.idea/
*.iml

#### Log file
*.log

######### Maven template
target/
src-gen/
**/src-gen
pom.xml.tag

###### Eclipse template

.metadata
.settings/
.project
.classpath
**/.settings

**/extensions.csproj
**/obj

src-gen-function-impl/
OperationDetails.properties
