<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://camel.apache.org/schema/spring 
       http://camel.apache.org/schema/spring/camel-spring.xsd
       ">
    <context:component-scan base-package="com.temenos.irf.jwt.requestcontext.*" />
    <bean id="t24replaceFieldIndicator" class="java.lang.Boolean">
        <constructor-arg value="false" />
    </bean>
    <import resource="classpath*:/META-INF/irf-webbase-context.xml" />
     
    <bean id="t24ConnectionProperties" class="com.temenos.irf.config.StandardPropertyReader">
        <property name="path" value="classpath:standalone-comms-remote.properties"/>
    </bean>
    
     <bean id="t24SecurityFilter" class="com.temenos.irf.comms.security.defaultimpl.NullBean">
      <!-- <bean id="t24SecurityFilter" class="com.temenos.irf.security.t24.T24SpringSecurityContextFilter"> -->
    </bean>
    
    <!-- Comment the above bean with id t24SecurityFilter and uncomment below bean for Security Filter  -->
    <!--<bean id="t24SecurityFilter" class="com.temenos.irf.comms.security.defaultimpl.T24Security">
    </bean>-->
    <!-- Comment the above bean with id t24SecurityFilter and uncomment below bean for Basic Authentication -->
    <!-- <bean id="t24SecurityFilter" class="com.temenos.irf.comms.security.defaultimpl.T24BasicAuthenticationCheck">
    </bean> -->
    
     <bean id="serviceLocatorProperties" class="com.temenos.irf.config.StandardPropertyReader">
        <property name="path" value="classpath:/irf-config/service-locator.properties" />
    </bean>
    
    <bean id="mockDataMgmtProcessor" class="com.temenos.irf.mock.MockDataMgmtProcessor" >
    <!-- basePath should be set to the base Directory where mockFiles folder is placed.  -->
        <property name="basePath" value="classpath:/irf-config/"></property>
    </bean>
    
    <bean id="mockResponder" class="com.temenos.irf.core.MockResponder">
    <!-- basePath should be set to the base Directory where mockFiles folder is placed.  -->
        <property name="basePath" value="classpath:/irf-config/"></property>
    </bean>
    
    <bean id="vocabProcessor" class="com.temenos.irf.vocab.VocabProcessor" >
        <property name="basePath" value="classpath:/irf-config/"></property>
        <!-- Comment the above property if you need to point to some external folder and uncomment below one  -->
        <!-- <property name="basePath" value="../irf-config"></property> -->
    </bean>
    
    <bean id="OpenApiSpecCreator" class="com.temenos.irf.oas.creator.OpenAPISpecCreator">
        <property name="propertyPath" value="classpath:/irf-config/data-types.properties"></property>
    </bean>
    
    <bean id="ofsResponse" class="com.temenos.irf.ofs.query.OFSQueryResponseParser">
        <property name="propertyPath" value="classpath:/irf-config/data-types.properties"></property>
    </bean>
    
    <bean id="paginationProperties" class="com.temenos.irf.config.StandardPropertyReader">
          <property name="path" value="classpath:/irf-config/pagination-info.properties" />
     </bean>
    <bean id="sourceAdapter" class="com.temenos.irf.git.source.adapter.GitSourceAdapter" />
    <bean id="gitConfiguration" class="com.temenos.irf.config.StandardPropertyReader">
        <property name="path" value="classpath:/irf-config/git-dev-config.properties" />
    </bean>
    <bean id="saveConfiguration" class="com.temenos.irf.config.StandardPropertyReader">
        <property name="path" value="classpath:/irf-config/save-file-config.properties" />
    </bean>
	<bean id="vettingTableLookupProperties" class="com.temenos.irf.config.StandardPropertyReader">
		<property name="path" value="classpath:/irf-config/vettingtable_lookup.properties" />
	</bean>
    <import resource="classpath*:/services/**/*-service-v*.*.*.xml" />
    </beans>