<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Service Container</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<!-- by default we will load the properties file from resource path this 
		parameter is to indicate the properties file name alone, but the properties 
		file should always lie in resource path -->
	<context-param>
		<param-name>properties-file-name</param-name>
		<param-value>commandIngester.properties</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.temenos.microservice.framework.ingester.app.IngesterApplication</listener-class>
	</listener>
</web-app>