<!--

    *******************************************************************************
    * Copyright © Temenos Headquarters SA 2021. All rights reserved.
    *******************************************************************************

-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
 <display-name>Camel Web Demo</display-name>
<context-param>
	<param-name>contextConfigLocation</param-name>
      <param-value>
         classpath:applicationContext.xml
         classpath:spring-jwt-iris-authenticator.xml
		 classpath:spring-saml-iris-authenticator.xml
      </param-value>
 </context-param>
<!-- Camel servlet -->
<servlet>
<servlet-name>CamelServlet</servlet-name>
<servlet-class>org.apache.camel.component.servlet.CamelHttpTransportServlet</servlet-class>

<load-on-startup>1</load-on-startup>
</servlet>
<!-- Camel servlet mapping -->
<servlet-mapping>
<servlet-name>CamelServlet</servlet-name>
<url-pattern>/api/*</url-pattern>
</servlet-mapping>
 <listener>
   <listener-class>
         org.springframework.web.context.ContextLoaderListener
   </listener-class>
 </listener>
 <!-- Uncomment below filters to enable JWT based token validation
 <filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
 
<!-- <filter>
    <filter-name>cross-origin</filter-name>
    <filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class>
    <init-param>
        <param-name>allowedOrigins</param-name>
        <param-value>*</param-value>
    </init-param>
    <init-param>
        <param-name>allowedMethods</param-name>
        <param-value>GET,POST,HEAD</param-value>
    </init-param>
    <init-param>
        <param-name>allowedHeaders</param-name>
        <param-value>X-Requested-With,Content-Type,Accept,Origin</param-value>
    </init-param>
</filter>
<filter-mapping>
    <filter-name>cross-origin</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping> -->
 
 <filter>
    <filter-name>SecurityHeadersFilter</filter-name>
    <filter-class>com.temenos.irf.core.security.SecurityHeadersFilter</filter-class>
 </filter>
  <filter-mapping>
    <filter-name>SecurityHeadersFilter</filter-name>
    <url-pattern>/*</url-pattern>
 </filter-mapping>
 
<filter>
    <filter-name>jwtRequestHeaderFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
</filter>
<filter-mapping>
    <filter-name>jwtRequestHeaderFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>

<!-- For Traceability -->
<filter>
    <filter-name>traceabilityFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
</filter>
<filter-mapping>
    <filter-name>traceabilityFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>

<resource-ref id="ResourceRef_jmsConnectionFactory">
        <description>Used to get connections to JMS for OFS queues</description>
        <res-ref-name>jms/jmsConnectionFactory</res-ref-name>
        <res-type>javax.jms.ConnectionFactory</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
        
    <resource-ref id="ResourceRef_t24IRISIntQueue">
        <description>OFS queue</description>
        <res-ref-name>queue/t24IRISIntQueue</res-ref-name>
        <res-type>javax.jms.Queue</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref id="ResourceRef_t24IRISIntReplyQueue">
        <description>OFS reply queue</description>
        <res-ref-name>queue/t24IRISIntReplyQueue</res-ref-name>
        <res-type>javax.jms.Queue</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>   
    <resource-ref id="ResourceRef_t24IRISExtQueue">
        <description>OFS queue</description>
        <res-ref-name>queue/t24IRISExtQueue</res-ref-name>
        <res-type>javax.jms.Queue</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref id="ResourceRef_t24IRISExtReplyQueue">
        <description>OFS reply queue</description>
        <res-ref-name>queue/t24IRISExtReplyQueue</res-ref-name>
        <res-type>javax.jms.Queue</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
     <resource-ref id="ResourceRef_t24AAExtQueue">
        <description>OFS queue</description>
        <res-ref-name>queue/t24AAExtQueue</res-ref-name>
        <res-type>javax.jms.Queue</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref id="ResourceRef_t24AAExtReplyQueue">
        <description>OFS reply queue</description>
        <res-ref-name>queue/t24AAExtReplyQueue</res-ref-name>
        <res-type>javax.jms.Queue</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>  
    <resource-ref id="ResourceRef_t24AAIntQueue">
        <description>OFS queue</description>
        <res-ref-name>queue/t24AAIntQueue</res-ref-name>
        <res-type>javax.jms.Queue</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref id="ResourceRef_t24AAIntReplyQueue">
        <description>OFS reply queue</description>
        <res-ref-name>queue/t24AAIntReplyQueue</res-ref-name>
        <res-type>javax.jms.Queue</res-type>
        <res-auth>Container</res-auth>
    </resource-ref> 
     
    <!-- remove the comment if queue conf is available for IRISMETADATA  -->
<!--     
    <resource-ref id="ResourceRef_t24IRISMetaDataQueue">
        <description>OFS queue</description>
        <res-ref-name>queue/t24IRISMetaDataQueue</res-ref-name>
        <res-type>javax.jms.Queue</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref id="ResourceRef_t24IRISMetaDataReplyQueue">
        <description>OFS reply queue</description>
        <res-ref-name>queue/t24IRISMetaDataReplyQueue</res-ref-name>
        <res-type>javax.jms.Queue</res-type>
        <res-auth>Container</res-auth>
    </resource-ref> --> 

</web-app>